[submodule "external_notebooks/esa-cci/cci-notebooks"]
	path = external_notebooks/esa-cci/cci-notebooks
	url = https://github.com/esa-cci/cci-notebooks.git
[submodule "external_notebooks/esa-cci/ect-training"]
	path = external_notebooks/esa-cci/ect-training
	url = https://github.com/esa-cci/ect-training.git
